body {
  background-image: url("../img/star-wars-bg.jpg");
  background-size: cover;
  color: white;
  font-family: Arial, sans-serif;
}

h1, h2 {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

pre {
  background-color: #444;
  color: #eee;
  padding: 10px;
}
