@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  background-image: url('StarWars.png');
  color: chartreuse;
  text-align: -moz-center;
  border-color: chartreuse;
  border-width: medium;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 1px 1px 1px #aaa;
}
h1 {
  color: chartreuse;
  text-align: center;
  border: darkblue;
}



.star {
	position: absolute;
	width: 1px;
	height: 1px;
	background-color: #fff;
	z-index: 2;
}